// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
//
// Temporary, used for calculation variables should by named `$_variable-name`
//
// Table of Contents
//
// Color system
// Body
// Page
// Components
// Fonts
// Links
// Z-index master list
// Grid breakpoints
// Grid containers
// Grid columns
// Buttons
// Form
// Pagination 
// Tooltips

//
// Color system
//

// Gray colors
$white: #ffffff;
$gray-100: #f5f5f5;
$gray-200: #ebebeb;
$gray-300: #e1e1e1;
$gray-400: #b7b7b7;
$gray-500: #9b9b9b;
$gray-600: #777777;
$gray-700: #18364a;
$gray-800: #18364a;
$gray-900: #111111;
$black: #000000;

$gray-1: #d7d7d7;
$gray-2: #f9faf9;
$gray-3: #3f4651;
$gray-4: #264559;
$gray-5: #e8e8e8;
$gray-6: #dddddd;
$gray-7: #f3f3f3;
$gray-8: #47505f;
$gray-9: #667079;
$gray-10: #808992;
$gray-11: #434d55;
$gray-12: #f4f4f4;
$gray-13: #cccccc;
$gray-14: #485057;
$gray-15: #f7f7f7;
$gray-16: #b8c2cb;
$gray-17: #50575d;
$gray-18: #959595;
$gray-19: #989898;
$gray-20: #6d6d6d;
$gray-21: #bcbbbb;
$gray-22: #d1d1d1;
$gray-23: #565c60;
$gray-24: #a1a1a1;

$blue-1:  #343c49;
$blue-2:  #182437;
$blue-3:  #303e4f;
$blue-4:  #444d5a;
$blue-5:  #4b525f;
$blue-6:  #2f333a;
$blue-7:  #2e5474;

$orange:   #ffb45c;
$orange-2: #eea660;
$orange-3: #fdab69;
$green:    #73cca1;
$yellow:   #faea7d;



//
// Body 
//
$body-bg: $white;
$body-color: $gray-600;

$theme-colors: ();

// Accent colors
$danger-color: #f5543f;
$success-color: #98bf44;

// Theme colors 
$black-invariable: #000000;
$white-invariable: #ffffff;

// Additional colors
$facebook: #4d70a8;
$facebook-light: #748abc;
$facebook-darken: darken($facebook, 5%);

$twitter: #02bcf3;
$twitter-light: #81cbdb;
$twitter-darken: darken($twitter, 5%);

$google: #e2411e;
$google-light: #de7272;
$google-darken: darken($google, 5%);

//
// Page
//
$page-boxed-width: 1600px;
$page-boxed-background-color: $gray-100;
$page-boxed-background-image: url(../images/bg-pattern-boxed.png);

//
// Components
//
// Define common padding and border radius sizes and more.
$border-width: 1px;

$border-radius: 0;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;

$transition-base: all .3s ease-in-out;

// Map
//
$map-height: 400px;
$map-md-height: 400px;
$map-xl-height: 665px;

// Custom
$shadow-area-1: -3px 0px 50px -2px rgba(0, 0, 0, 0.09);
$shadow-area-2: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);

//
// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-family-sans-serif-1: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "Roboto Slab", "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-base: $font-family-sans-serif;
$font-family-sec: $font-family-sans-serif;

$font-weight-bold: 700;

// Base fonts
$font-size-base: 15px;
$font-size-lg: 18px;
$font-size-sm: 12px;

$_lh-base: 24px;
$_lh-lg: 28px;
$_lh-sm: 18px;

$font-weight-base: 400;

// ** < Calculated font values >
$line-height-base: ($_lh-base / $font-size-base);
$line-height-lg: ($_lh-lg / $font-size-lg);
$line-height-sm: ($_lh-sm / $font-size-sm);
// ** </ Calculated font values >

// Headings
$headings-font-family: $font-family-sec;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: $gray-800;

// Template Heading Values
$_h1-fsz: 110;
$_h2-fsz: 70;
$_h3-fsz: 44;
$_h4-fsz: 36;
$_h5-fsz: 24;
$_h6-fsz: 18;

$_h1-lh: 110;
$_h2-lh: 80;
$_h3-lh: 54;
$_h4-lh: 46;
$_h5-lh: 30;
$_h6-lh: 24;

// ** < Calculated Headings values >
$h1-font-size: $_h1-fsz * 1px;
$h2-font-size: $_h2-fsz * 1px;
$h3-font-size: $_h3-fsz * 1px;
$h4-font-size: $_h4-fsz * 1px;
$h5-font-size: $_h5-fsz * 1px;
$h6-font-size: $_h6-fsz * 1px;

$h1-line-height: ($_h1-lh / $_h1-fsz);
$h2-line-height: ($_h2-lh / $_h2-fsz);
$h3-line-height: ($_h3-lh / $_h3-fsz);
$h4-line-height: ($_h4-lh / $_h4-fsz);
$h5-line-height: ($_h5-lh / $_h5-fsz);
$h6-line-height: ($_h6-lh / $_h6-fsz);
// ** </ Calculated Headings values >

// Icon Fonts
$fa: 'FontAwesome';
$mdi: 'Material Design Icons';
$mi: 'Material Icons';

// Lead
$lead-font-size: 24px;
$lead-line-height: 34px;
$lead-font-weight: 300;

// Hr
$hr-border-color: $gray-200;
$hr-border-width: $border-width;

// Mark
$mark-padding: 5px 10px;
$mark-bg: $primary;

$dt-font-weight: inherit;
$list-inline-padding: 5px;

// Code
$code-font-size: 90%;
$code-padding-y: 10px;
$code-padding-x: 5px;
$code-color: $gray-900;
$code-bg: $gray-100;

//
// Links
//
$link-color: $secondary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-press-color: darken($link-color, 15%);
$link-hover-decoration: underline;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1010;
// Custom
$zindex-rd-navbar: 1070;
$zindex-layout-panel: 1100;

//
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1600px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$screen-fullhd: 1600px;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1200px
);
@include _assert-ascending($container-max-widths, "$container-max-widths");

//
// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-gutter-width-narrow: 30px;

//
// Buttons
//

$input-btn-padding-y: 25px;
$input-btn-padding-x: 50px;
$input-btn-font-size: 14px;
$input-btn-line-height: 1.85;

$input-btn-padding-y-xs: 12px;
$input-btn-padding-x-xs: 25px;
$input-btn-line-height-xs: 2.17;

$input-btn-padding-y-sm: 17px;
$input-btn-padding-x-sm: 40px;
$input-btn-line-height-sm: 2.17;

$input-btn-padding-y-lg: 30px;
$input-btn-padding-x-lg: 55px;
$input-btn-line-height-lg: 1.85;

$btn-font-family: $font-family-sec;
$btn-font-weight: 900;
$btn-letter-spacing: .2em;
$btn-text-transform: uppercase;

$btn-box-shadow: 0;
$btn-focus-box-shadow: 0;
$btn-active-box-shadow: 0;

$btn-link-disabled-color: $body-color;

$btn-block-spacing-y: .5rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;

$btn-transition: all .15s ease-in-out;

//
// Forms
//
$form-input-height: 60px;
$form-input-lg-height: 70px;
$form-input-sm-height: 40px;

$form-input-color: $body-color;
$form-input-color-placeholder: $form-input-color;

$form-input-background: $white;
$form-input-border-color: $gray-300;
$form-input-border-radius: $border-radius;

$form-input-font-size: 15px;
$form-input-line-height: 24px;
$form-input-font-weight: 400;

$form-input-border: 1px solid $form-input-border-color;
$form-input-padding-horizontal: 25px;
$form-input-line-height: round($form-input-font-size * 1.7);

$form-input-padding-vertical: round(($form-input-height - $form-input-line-height) / 2) + 1px;
$form-input-padding: $form-input-padding-vertical $form-input-padding-horizontal;

@if ($form-input-border != none) {
	$form-input-padding-vertical: round(($form-input-height - $form-input-line-height - (nth($form-input-border, 1) * 2)) / 2);
	$form-input-padding: $form-input-padding-vertical $form-input-padding-horizontal;
}

$form-textarea-default-height: 150px;
$form-textarea-default-min-height: $form-input-height;
$form-textarea-default-max-height: round($form-textarea-default-height * 1.7);

$form-feedback-focus-color: $primary;
$form-feedback-valid-color: $success-color;
$form-feedback-invalid-color: $danger-color;

//
// Pagination
//
$pagination-padding-y: 0px;
$pagination-padding-x: 5px;
$pagination-font-size: 18px;
$pagination-line-height: 24px;

$pagination-color: $gray-800;
$pagination-bg: transparent;
$pagination-border-width: 0;
$pagination-border-color: transparent;

$pagination-hover-color: $primary;
$pagination-hover-bg: transparent;
$pagination-hover-border-color: transparent;

$pagination-active-color: $secondary;
$pagination-active-bg: transparent;
$pagination-active-border-color: transparent;

$pagination-disabled-color: $gray-400;
$pagination-disabled-bg: transparent;
$pagination-disabled-border-color: transparent;

//
// Tooltips
//
$tooltip-max-width: 200px;
$tooltip-color: $white;
$tooltip-bg: $gray-800;
$tooltip-opacity: 1;
$tooltip-padding-y: 2px;
$tooltip-padding-x: 11px;
$tooltip-margin: 0;

$tooltip-arrow-width: 6px;
$tooltip-arrow-height: 6px;
$tooltip-arrow-color: $tooltip-bg;



//
// jScrollPane
//
$scroll-width: 4px;