// Clients Jean
section.section.section-sm.section-inset-3.bg-gray-100.text-center
	.container
		.owl-carousel.owl-style-9(data-items='1', data-sm-items='2', data-md-items='3', data-lg-items='4', data-xl-items='5', data-margin='30', data-dots='true', data-mouse-drag='false')
			a.clients-jean(href='#'): +png('clients-18-200x90')
			a.clients-jean(href='#'): +png('clients-6-200x90')
			a.clients-jean(href='#'): +png('clients-2-200x90')
			a.clients-jean(href='#'): +png('clients-3-200x90')
			a.clients-jean(href='#'): +png('clients-4-200x90')
='\n'