/*
*
* Sections
*/

//
// Section Spacing
//

.section-sm {
	padding: 30px 0;

	&.section-first { padding-top: 60px; }
	&.section-last { padding-bottom: 60px; }
}

.section-md,
.section-lg,
.section-xl,
.section-xxl,
.section-inset-4,
.section-inset-7,
.section-inset-8 {
	padding: 50px 0;
}

.section-inset-5 { padding: 30px 0; }
.section-inset-6 { padding: 50px 0 30px; }
.section-inset-9 { padding: 30px 0; }

// Section collapse
.section-collapse + .section-collapse {
	padding-top: 0;
}

.section-collapse:last-child {
	padding-bottom: 0;
}

// Section with bottom zero padding
html [class*='section-'].section-bottom-0 {padding-bottom: 0;}

// Section with top zero padding
html [class*='section-'].section-top-0 {padding-top: 0;}

// Section zero padding
html [class*='section-'] {
	// Large ≥992px
	@include media-breakpoint-up(lg) {
		&.section-lg-0 { padding: 0 0 1px; }
	}
}

@include media-breakpoint-up(md) {
	.section-sm {
		padding: 40px 0;

		&.section-first { padding-top: 80px; }
		&.section-last { padding-bottom: 80px; }
	}

	.section-md {padding: 70px 0;}
	.section-lg {padding: 80px 0;}
	.section-xl {padding: 90px 0;}
	.section-xxl {padding: 100px 0;}

	.section-inset-4 { padding: 60px 0;	}
	.section-inset-6 { padding-top: 80px; }
	.section-inset-8 { padding: 80px 0 60px; }
	.section-inset-9 { padding: 0; }

	[class*='section-'].section-bottom-md-70 {padding-bottom: 70px;}
}

@include media-breakpoint-up(lg) {
	.section-sm {
		padding: 45px 0;

		&.section-first { padding-top: 90px; }
		&.section-last { padding-bottom: 90px; }
	}

	.section-md { padding: 80px 0; }
	.section-lg { padding: 90px 0; }
	.section-xl { padding: 100px 0; }
	.section-xxl { padding: 120px 0; }

	.section-inset-6 { padding-top: 90px; }
	.section-inset-7 { padding: 70px 0; }
	.section-inset-8 { padding-top: 90px; }
}

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
  .section-inset-1 {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.section-inset-3 {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.section-inset-4 { padding: 70px 0; }

	.section-inset-5 { padding-top: 45px; }

	.section-inset-7 { padding: 90px 0; }
}

// Mega large ≥1600px
@include media-breakpoint-up(xxl) {
	.section-inset-2 {
		padding-top: 90px;
		padding-bottom: 90px;
	}
} 

//
// Custom sections
//

// Section single
.section-single {
	display: flex;
	text-align: center;

	p {
		margin-left: auto;
		margin-right: auto;
	}

	.rd-form {
		max-width: 690px;
		margin-left: auto;
		margin-right: auto;
	}

	.button {
		padding-left: 40px;
		padding-right: 40px;
		letter-spacing: .3em;
		min-width: auto;
	}

	* + .button {margin-top: 45px;}
	* + .countdown-wrap {margin-top: 35px;}
	* + .rd-form {margin-top: 20px;}
	.countdown-wrap + * {margin-top: 35px;}

	@include media-breakpoint-up(lg) {
		* + .countdown-wrap {margin-top: 50px;}
		.countdown-wrap + * {margin-top: 56px;}
	}

	.rd-mailform-wrap {
		max-width: 670px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	* + .rd-mailform-wrap {
		margin-top: 20px;
	}

	.form-input {
		background-color: rgba($white, .78);
		&:focus {
			background-color: $white;
		}
	}

}

.section-single-header {
	padding: calc(1em + 4vh) 0 calc(1em + 2vh);
}

.section-single-main {
	padding: calc(1em + 2vh) 0 calc(1em + 6vh);
}

.section-single-footer {
	padding: calc(1em + 2vh) 0;
}

.section-single-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 100vh;

	> * {
		width: 100%;
	}
}

@supports (display: grid) {
	.section-single-inner {
		display: grid;
		justify-items: center;
		align-content: space-between;
		grid-template-columns: 1fr;
	}
}

// Large ≥1200px
@include media-breakpoint-up(xl) {
	.section-single-header {
		padding-top: calc(1em + 8vh);
	}

	.section-single-footer {
		padding-bottom: calc(1em + 4vh);
	}
}



// Mega large ≥1600px
@include media-breakpoint-up(xxl) {
	.section-fluid {
		padding-left: 75px;
		padding-right: 75px;

		.container-fluid {
			padding-left: 0;
			padding-right: 0;
			max-width: 1770px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}


// Section relative
.section-relative {
	position: relative;
	z-index: 1;
}