-
  var
    html_class = "wide wow-animation",
    fonts = "//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500",
    subscribeFormCounter = 0,
    logo = {
      default: 'logo-default-244x78.png',
      inverse: 'logo-inverse-244x78.png',
      name: 'Flex'
    },
    links = {
      post: 'blog-post.html',
      getTemplate:'#get-template'
    },
    colors = {
      primary: '#46b8de'
    },
    menu = [
      {
        title: 'Home',
        category: 'home',
        link: 'index.html'
      },
      {
        title: 'Pages',
        category: 'pages',
        link: '#',
        megamenu: [
          {
            title: 'Services',
            list: [
              { title: 'Services' },
              { title: 'Services 2' },
              { title: 'Services 3' },
              { title: 'Services 4' },
              { title: 'Single service' }
            ]
          },
          {
            title: 'Additional Pages',
            list: [
              { title: '404 page' },
              { title: 'Coming soon' },
              { title: 'Counters' },
              { title: 'Icon lists' },
              { title: 'Search results' },
              { title: 'Privacy policy' },
              { title: 'Contacts' }
            ]
          },
          {
            title: 'Elements',
            list: [
              { title: 'Typography' },
              { title: 'Buttons' },
              { title: 'Forms' },
              { title: 'Tabs and accordions' },
              { title: 'Progress bars' },
              { title: 'Grid system' },
              { title: 'Tables' }
            ]
          }
        ]
      },
      {
        title: 'About us',
        category: 'about',
        link: 'about-us.html'
      },
      {
        title: 'Additional services',
        category: 'projects',
        dropdown: [
          { title: 'Additional services' },
          { title: 'Additional service page' },
          { title: 'Grid Gallery' }
        ]
      },
      {
        title: 'News',
        category: 'blog',
        link: 'grid-blog.html',
        dropdown: [
          { title: 'Grid blog' },
          { title: 'Masonry blog' },
          { title: 'Blog post' }
        ]
      }
    ];

