// Box contacts
.box-contacts
	.box-contacts-item
		.box-contacts-title Free consultation
		.unit.unit-spacing-xs.flex-column.flex-md-row
			.unit-left
				span.icon.icon-24.mdi.mdi-phone
			.unit-body
				a.phone(href='tel:#') +1 718-999-3939
	.box-contacts-item
		.box-contacts-title Office
		.unit.unit-spacing-xs.flex-column.flex-md-row
			.unit-left
				span.icon.icon-28.mdi.mdi-map-marker
			.unit-body
				a.address(href='#') 514 S. Magnolia St. Orlando, FL 32806
	.box-contacts-item
		.box-contacts-title E-mail
		.unit.unit-spacing-xs.flex-column.flex-md-row
			.unit-left
				span.icon.mdi.mdi-email
			.unit-body
				a.mail(href='mailto:#') info@demolink.org