// Clients Classic
.clients-classic-wrap
	.row.no-gutters
		.col-sm-6.wow.fadeInLeft
			.clients-classic: a.clients-classic-figure(href='#'): +png('clients-1-200x90')
		.col-sm-6.wow.fadeInRight
			.clients-classic: a.clients-classic-figure(href='#'): +png('clients-2-200x90')
	.row.no-gutters
		.col-sm-6.wow.fadeInLeft
			.clients-classic: a.clients-classic-figure(href='#'): +png('clients-3-200x90')
		.col-sm-6.wow.fadeInRight
			.clients-classic: a.clients-classic-figure(href='#'): +png('clients-4-200x90')
	.row.no-gutters
		.col-sm-6.wow.fadeInLeft
			.clients-classic: a.clients-classic-figure(href='#'): +png('clients-5-200x90')
		.col-sm-6.wow.fadeInRight
			.clients-classic: a.clients-classic-figure(href='#'): +png('clients-6-200x90')