header.section.page-header
	// RD Navbar
	.rd-navbar-wrap
		nav.rd-navbar.rd-navbar-classic(
		data-layout=                'rd-navbar-fixed'
		data-sm-layout=             'rd-navbar-fixed'
		data-md-layout=             'rd-navbar-fixed'
		data-md-device-layout=      'rd-navbar-fixed'
		data-lg-layout=             'rd-navbar-fixed'
		data-lg-device-layout=      'rd-navbar-fixed'
		data-xl-layout=             'rd-navbar-static'
		data-xl-device-layout=      'rd-navbar-static'
		data-xxl-layout=            'rd-navbar-static'
		data-xxl-device-layout=     'rd-navbar-static'
		data-xl-stick-up-offset=    '150px'
		data-xxl-stick-up-offset=   '150px'
		data-xl-stick-up=           'true'
		data-xxl-stick-up=          'true'
		)
			.rd-navbar-collapse-toggle.rd-navbar-fixed-element-1(data-rd-navbar-toggle='.rd-navbar-collapse'): span
			// RD Navbar Panel
			.rd-navbar-panel
				// RD Navbar Toggle
				button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span
				// RD Navbar Brand
				.rd-navbar-brand: +logo
			
			.rd-navbar-right
				.rd-navbar-main.rd-navbar-nav-wrap
					.rd-navbar-main-right
						ul.rd-navbar-contacts
							li: .unit.unit-spacing-xs
								.unit-left: span.icon.mdi.mdi-phone
								.unit-body: a.phone(href='tel:#') +1 718-999-3939
							li: .unit.unit-spacing-xs
								.unit-left: span.icon.mdi.mdi-map-marker
								.unit-body: a.address(href='#') 514 S. Magnolia St. Orlando, FL 32806
					.rd-navbar-main-left
						include ../includes/_navigation
				
				.rd-navbar-aside.rd-navbar-collapse
					.rd-navbar-info
						+box-icon-minimal({
							unit: 'unit-spacing-sm',
							icon: 'linearicons-truck',
							title: 'Leading Provider',
							text: 'Of Logistics Solutions'
						})
						+box-icon-minimal({
							unit: 'unit-spacing-xxs',
							icon: 'linearicons-medal-empty',
							title: 'Certified',
							text: 'ISO 9001:2008'
						})
						+box-icon-minimal({
							unit: 'unit-spacing-xs',
							icon: 'linearicons-flag',
							title: '38 Years',
							text: 'Of Experience'
						})
				
					.button-share.linearicons-share2(data-rd-navbar-toggle='.list-share')
						ul.list-share
							li.list-share-item: a.icon.mdi.mdi-facebook(href='#')
							li.list-share-item: a.icon.mdi.mdi-twitter(href='#')
							li.list-share-item: a.icon.mdi.mdi-instagram(href='#')
							li.list-share-item: a.icon.mdi.mdi-google-plus(href='#')
					a.button.button-icon.button-icon-left.button-white.button-winona(href='#' download)
						span.icon.mdi.mdi-download
						span Download brochure
					a.button.button-icon.button-icon-left.button-white.button-winona(href='contacts.html')
						span.icon.mdi.mdi-email-outline
						span Get a quote