//- Section gmap
.rd-google-map(class="rd-google-map__model", data-marker="images/gmap_marker-2.png", data-marker-active="images/gmap_marker-2_active.png" data-styles='[{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"landscape.natural.landcover","elementType":"geometry.fill","stylers":[{"color":"#1d1e23"}]},{"featureType":"landscape.natural.terrain","elementType":"geometry.fill","stylers":[{"color":"#25272c"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#20272f"}]}]', data-zoom='3', data-x='-38', data-y='38')
	ul.map_locations
		li(data-y='35.2', data-x='-76.5')
			+jpg('map-img-1-385x141')
			p.map_locations-text After our establishment, we began to provide trucking transportation services as well as worldwide shipping.

		li(data-y='44.1', data-x='-65.8')
			+jpg('map-img-2-385x141')
			p.map_locations-text In the 1990s, we extended our range of services with warehousing. We also opened more offices in the US.

		li(data-y='57.1', data-x='-62.6')
			+jpg('map-img-2-385x141')
			p.map_locations-text In 1995, we started our international partnership program, which led us to worldwide recognition years later.

		li(data-y='23.6', data-x='-15.5')
			+jpg('map-img-4-385x141')
			p.map_locations-text Ten years later, we opened new offices overseas that eventually led us to increasing our client base.

		li(data-y='41.45', data-x='-8.6')
			+jpg('map-img-4-385x141')
			p.map_locations-text GlobalTrans continued its expansion by partnering with more transportation companies all over the world.

		li(data-y='50.3', data-x='-3.73')
			+jpg('map-img-4-385x141')
			p.map_locations-text A few years ago, our company became a trusted partner of Dynamics, a large global industrial enterprise.

		li(data-y='10.4', data-x='-65.2')
			+jpg('map-img-7-385x141')
			p.map_locations-text Nowadays, we also operate in South America and on other continents covering almost 100% of the globe.